.site-header {
    background-color: $color-primary-dark;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    padding-bottom: 0;

    .site-branding {
        padding-right: 0;
        margin-top: 0;
        height: 8rem;
        padding: 1.3rem;
        display: flex;

        .site-title {
            
            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
                line-height: 5.1rem;
            }
        }

        .mobi-logo {
            margin-right: 1rem;
            background-size: cover;
            height: 6rem;
            width: 8rem; 
            position: relative;

            i {
                font-size: 8rem;

                &:before {
                    position: absolute;
                    top: -15%;
                    left: -20.5%;
                }
            }
        }

        a {
            display: flex;
        
            
            &:hover {
                color: $color-primary;
            }

            &:focus {
                color: $color-white;
            }

            &:active {
                color: $color-white;
            }
        }


    }

}