.site-header {
    background-color: $color-primary-dark;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    padding-bottom: 0;

    .site-branding {
        padding-right: 0;
        margin-top: 0;
        height: 8rem;
        padding: 1.3rem;
        display: flex;

        i {
            font-size: 5rem;
            margin-right: 1rem;
        }

        a {
            display: flex;
            
            &:hover {
                color: $color-primary;
            }

            &:focus {
                color: $color-white;
            }

            &:active {
                color: $color-white;
            }
        }


    }

}