.slider-wrapper{
    width: 65vw;
    margin: auto;
    position: relative;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); 



    .arr {
        display: block;
        width: 3rem;
        height: 100%;
        z-index: 100;
        position: absolute;
        content: "";

        &:before {
            content: "";
            display: block;
            height: 3rem;
            width: 3rem;
            transform: scale(1, 5);
            position: absolute;
            top: 45%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .prev-slide{
        background-color: rgba($color-grey-dark, .5);

        &:before {
            @extend .icon-prev;
        }

        &:hover {
            background-color: rgba($color-primary, .5);
        }
    }

    .next-slide{
        right: 0;
        // transform: translateX(-50%);

        &:before {
            @extend .icon-next;
        }
    }

}

.slider-content {
    height: 50vh;
    position: relative;
    display: flex!important;

    &_right {
        width: 34.33333%;
        padding: 5rem 5rem 2rem 5rem;
        background-color: rgba($color-primary-light, .8);

        &--title {
            display: flex;
            text-transform: uppercase;
            line-height: .8;

            &:before {
                content: "";
                display: block;
                height: 2rem;
                width: 2rem;
                background-color: $color-secondary;
                margin-right: 2rem;
            }
        }

        &--text {
            border-bottom: 1px solid $color-white;
            margin-bottom: 4rem;
            font-size: $default-font-size;
            line-height: 1.1;
        }

        &--link {
            font-size: 1.6rem;
            border: 2px solid $color-white;
            border-radius: .5rem;
            padding: 1rem;
            text-decoration: none;

            &:hover {
                background-color: $color-white;
                border-bottom-color: $color-white;
            }

            &:focus {
                border-bottom-color: $color-white;
            }
        }
    }

    &_left {
        width: 65.6%;
        background-size: cover;
    }
}