

// COLORS

$color-primary:#615f8b;
$color-primary-light: #8483A5;
$color-primary-dark:#2D2B5F;
$color-secondary: #83c2bc;
$color-secondary-dark: #33847B;
$color-grey-dark: #333333;
$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

$h1: 3rem;
$h2: 2.4rem;
$h3: 2rem;


// GRID

$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-hotrizontal: 6rem;