@font-face {
    font-family: "icons";
    src: url("./icons.eot?acf3c8582fe28cbc86ae7d2b5c4b53f9?#iefix") format("embedded-opentype"),
url("./icons.woff2?acf3c8582fe28cbc86ae7d2b5c4b53f9") format("woff2"),
url("./icons.woff?acf3c8582fe28cbc86ae7d2b5c4b53f9") format("woff"),
url("./icons.ttf?acf3c8582fe28cbc86ae7d2b5c4b53f9") format("truetype"),
url("./icons.svg?acf3c8582fe28cbc86ae7d2b5c4b53f9#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-001-garden:before {
    content: "\f101";
}
