@font-face {
    font-family: "icons";
    src: url("./icons.eot?340a0aff58d1ee35999a09fac1a17daf?#iefix") format("embedded-opentype"),
url("./icons.woff2?340a0aff58d1ee35999a09fac1a17daf") format("woff2"),
url("./icons.woff?340a0aff58d1ee35999a09fac1a17daf") format("woff"),
url("./icons.ttf?340a0aff58d1ee35999a09fac1a17daf") format("truetype"),
url("./icons.svg?340a0aff58d1ee35999a09fac1a17daf#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-001-garden:before {
    content: "\f101";
}
.icon-mobi:before {
    content: "\f102";
}
