
html {
    font-size: 62.5%;
}

body {
    font-size: $default-font-size;
    overflow: hidden;
}

.woocommerce-checkout {
    .optional {
        display: none;
    }
}

.post-navigation,
.posted-on {
    display: none;
}

.woocommerce {
    .cart-empty {
        color: transparent;
        height: 0;
        width: 0;
        font-size: 0;
    }
}

