
html {
    font-size: 62.5%;
}

body {
    font-size: $default-font-size;
    overflow: hidden;
}

.woocommerce-checkout {
    .optional {
        display: none;
    }
}

.post-navigation,
.posted-on {
    display: none;
}

.woocommerce {
    .cart-empty {
        color: transparent;
        height: 0;
        width: 0;
        font-size: 0;
    }
}

.woocommerce-order-received { 

    .entry-header {
        display: none!important;
    }
    .order-received {
        text-align: center;
        text-transform: uppercase;
        width: 45rem;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
        color: transparent;
        margin-bottom: 4rem;
    }
    .site-content {
        height: 100vh;
    }
}