.woocommerce-page {

    .content-area {
        width: 50vw!important;
    }

    .entry-header {
        text-align: center;
        text-transform: uppercase;

        .entry-title{
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
            color: transparent;
            margin-bottom: 3rem;
        }

        .entry-meta {
            display: none;
        }

    }

    .product-category {
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        
        img {
            margin-bottom: 1rem!important;
        }

        .woocommerce-loop-category__title {
            margin-bottom: 1rem!important;
            text-transform: uppercase;
            text-align: center;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
            color: transparent;
        }

        .count {
            display: none;
        }
    }

    .entry-footer::before {
        display: none;
    }

    .post-navigation {
        display: none;
    }
}