.single-product {

    .content-area {
        width: 100%!important;
    }

    .entry-meta {
        display: none;
    }

    .entry-title {
        @extend .heading_primary;
        margin: 0 0 3rem 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 45% 50%;
        grid-template-rows : 30rem auto 40rem; 
        grid-column-gap: 5%;
        grid-row-gap: 3rem;
    }

    .grid-item {
        display: inline-grid;
    }

    .product {

        &_image {
            grid-row-start: 1;
            grid-row-end: 3;

            .woocommerce-product-gallery {
                width: 100%!important;
                max-height: 100%!important;
                margin: 0!important;
            }

            .woocommerce-product-gallery__wrapper {
                box-shadow: 0 1.5rem 3rem rgba($color-black,.2);
            }

        }

        &_summary {
            grid-row-start:2;
            grid-row-end: 3;

            width: 100%!important;
            display: flex;
            justify-content: space-around;

            .price {
                padding-top: 1.5rem;
                font-size: 2.5rem!important;

                text-align: center;
                text-transform: uppercase;
                color: transparent!important;
                -webkit-background-clip: text;
                background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
            }

            .cart {

                .button {
                    height: 100%;
                    margin-left: 2rem;

                    background-color: $color-primary!important;
                    transition: all .2s;
                
                    &:hover {
                        transform: translateY(-.2rem);
                        box-shadow: 0 1rem 2rem rgba($color-black, .2)!important;
                        background-color: rgba($color-primary-dark, .8)!important;
                    }
                
                    &:active,
                    &:focus {
                        transform: translateY(-.1rem);
                        box-shadow: 0 .5rem 1rem rgba($color-black, .2)!important;
                    }
                }
            }

            .product_meta {
                display: none;
            }
        }

        &_description {
            grid-row-start: 1;
            grid-row-end: 2;

            border: 1px solid rgba($color-grey-dark, .2);
            border-radius: 5px;
            padding: 2rem;
            position: relative;

            h2 {
                position: absolute;
                top: -2rem;
                left: 50%;
                margin: 0;
                transform: translateX(-50%);
                padding: .5rem;
                z-index: 1500;
                background: $color-white;
                color: $color-secondary;

            }
            
            .tabs {
                display: none;
            }
        }

        &_related {
            grid-column-start: 1;
            grid-column-end: 3;

            position: relative;
            padding: 3rem 3rem 0;
            border-top: 1px solid rgba($color-grey-dark, .2);

            h2:not(.woocommerce-loop-product__title) {
                position: absolute;
                top: -2rem;
                left: 50%;
                margin: 0;
                transform: translateX(-50%);
                padding: .5rem;
                z-index: 1500;
                background: $color-white;
                color: $color-secondary;

            }

            .products {
                display: flex;
                justify-content: space-evenly;

                .type-product {
                    margin: 0;
                    box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
                    position: relative;
                    height: 80%;

                    img {
                        -webkit-clip-path: polygon(0 0,100% 0,100% 90%,0 100% );
                        clip-path: polygon(0 0,100% 0,100% 90%,0 100% );
                        margin: 0;
                    }

                    .woocommerce-loop-product__title {
                        position: absolute;
                        text-transform: uppercase;
                        top: 60%;
                        right: 1rem;
                        color: $color-white;
                        background-image: linear-gradient(to right bottom,
                        rgba($color-secondary, .85),
                        rgba($color-secondary-dark, .85));

                        @media screen and (max-width: 1230px) {
                            top: 60%;
                        }
                    }

                    .price {
                        text-transform: uppercase;
                        position: absolute;
                        top: 73%;
                        right: 1rem;
                        color: $color-white;
                        font-size: 1.8rem;

                        .amount {
                            background-image: linear-gradient(to right bottom,
                            rgba($color-secondary, .85),
                            rgba($color-secondary-dark, .85));  
                        }

                        @media screen and (max-width: 1230px) {
                            top: 73%;
                        }

                    }

                    .button {
                        display: block;
                        margin: 1rem auto;
                        text-align: center;
                        width: 90%; 
                        background-color: $color-primary!important;
                        transition: all .2s;
                        color: $color-white;
                
                        &:hover {
                            transform: translateY(-.2rem);
                            box-shadow: 0 1rem 2rem rgba($color-black, .2)!important;
                            background-color: rgba($color-primary-dark, .8)!important;
                        }
                
                        &:active,
                        &:focus {
                            transform: translateY(-.1rem);
                            box-shadow: 0 .5rem 1rem rgba($color-black, .2)!important;
                        }
                    }

                    @media screen and (max-width: 1230px) {
                        height: 86%;
                        width: 30%;
                    }

                    @media screen and (max-width: 1020px) {
                        height: 91%;
                        width: 28%;
                    }
                }
            }
        }
    }
}